.element__like{
  width: 21px;
  height: 19px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-color: white;
}

.element__like_status_added{
  background-image: url(../../../images/like2.svg);
}
