@import url('__item/form__item.css');
@import url('__title/form__title.css');
@import url('__button-save/form__button-save.css');

.form{
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  position: relative;
  padding: 36px;
}

@media screen and (max-width: 599px){
  .form {
    width: 260px;
  }
}

