@import url('__card/profile__card.css');
@import url('__avatar/profile__avatar.css');
@import url('__info/profile__info.css');
@import url('__wrapper/profile__wrapper.css');
@import url('__name/profile__name.css');
@import url('__edit/profile__edite.css');
@import url('__description/profile__description.css');
@import url('__add-photo/profile__add-photo.css');

.profile{
  max-width: 882px;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
