.profile__edite{
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-image: url("../../../images/Edit Button.svg");
  background-color: black;
}

@media screen and (max-width: 414px){
  .profile__edite {
    width: 18px;
    height: 18px;
    background-size: contain;
  }
}
