.profile__name{
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0;
  padding-right: 17px;
}

@media screen and (max-width: 599px){
  .profile__name {
    font-size: 27px;
    text-align: center;
  }
}
