.popup__button-close{
  width: 58px;
  height: 58px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-image: url("../../../images/Close_Icon.svg");
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__button-close:hover {
  opacity: .4;
  transition: .4s linear;
}

@media screen and (max-width: 599px){
  .popup__button-close {
    width: 25px;
    height: 25px;
    right: 5px;
    top: 5px;
    background-image: url("../../../images/Close_Icon-mob.svg");
    background-color: white;
  }
}
