@import url('../vendor/normalize.css');
@import url('../vendor/font.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/element/element.css');

@import url('../blocks/footer/footer.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_open/popup_open.css');
@import url('../blocks/form/form.css');

.element__likes-number{
  margin-left: 24px;
  line-height: 14px;
}


.element_template{
  display: none;
}
